@import "../../../styles/base";

.navbar {
  color: $color-primary;
  @include center;
}

.active {
  color: rgb(179, 170, 170);
}

span {
  cursor: pointer;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
}
